<%= link_to root_path, class: "flex mb-3 no-underline text-gray-800" do %>
  <%= image_tag "logo.jpg", width: 80, height: 80, class: "rounded-full mr-5" %>
  <h1><%= I18n.t("incidents.index.title") %></h1>
<% end %>

<%= turbo_frame_tag "incidents", data: { turbo_action: "advance" } do %>
  <div class="mb-5 flex bg-stone-400 rounded p-5 text-white">
    <div class="flex flex-col mr-11">
      <h2><%= I18n.t("incidents.index.sorting.title") %></h2>
      <span><strong><%= I18n.t("incidents.index.sorting.created_date") %></strong>:</span>
      <%= link_to I18n.t("incidents.index.sorting.newest"), url_for(sort: :desc), class: "text-white" %>
      <%= link_to I18n.t("incidents.index.sorting.oldest"), url_for(sort: :asc), class: "text-white" %>
    </div>

    <div class="flex flex-col mr-11">
      <h2><%= I18n.t("incidents.index.filtering.title") %></h2>
      <span><strong><%= I18n.t("incidents.index.filtering.severity") %></strong></span>
      <%= link_to I18n.t("incidents.index.filtering.sev0"), url_for(severity: 0), class: "text-white" %>
      <%= link_to I18n.t("incidents.index.filtering.sev1"), url_for(severity: 1), class: "text-white" %>
      <%= link_to I18n.t("incidents.index.filtering.sev2"), url_for(severity: 2), class: "text-white" %>

      <span><strong>Status</strong></span>
      <%= link_to I18n.t("incidents.index.filtering.declared"), url_for(status: :declared), class: "text-white" %>
      <%= link_to I18n.t("incidents.index.filtering.resolved"), url_for(status: :resolved), class: "text-white" %>
    </div>

    <div class="flex flex-col">
      <%= link_to I18n.t("incidents.index.clear"), url_for, class: "text-white" %>
    </div>
  </div>

  <% if @incidents.empty? %>
    <div><%= I18n.t("incidents.index.blank_state") %></div>
  <% end %>

  <%= render partial: "incident", collection: @incidents %>

  <div class="flex flex-col items-center p-5 bg-stone-400 text-white rounded">
    <%= pagy_nav(@pagy).html_safe %>
  </div>
<% end %>
