<%= link_to root_path, class: "flex mb-3 no-underline text-gray-800" do %>
  <%= image_tag "logo.jpg", width: 80, height: 80, class: "rounded-full mr-5" %>
  <h1><%= I18n.t("incidents.index.title") %></h1>
<% end %>

<%= turbo_frame_tag "incidents", data: { turbo_action: "advance" } do %>
  <div class="mb-5 flex bg-stone-400 rounded p-5 text-white">
    <div class="flex flex-col mr-11">
      <h2>Sort by</h2>
      <span><strong>Created date</strong>:</span>
      <%= link_to "Newest", url_for(sort: :desc), class: "text-white" %>
      <%= link_to "Oldest", url_for(sort: :asc), class: "text-white" %>
    </div>

    <div class="flex flex-col mr-11">
      <h2>Filter by</h2>
      <span><strong>Severity</strong></span>
      <%= link_to "Severity (sev0)", url_for(severity: 0), class: "text-white" %>
      <%= link_to "Severity (sev1)", url_for(severity: 1), class: "text-white" %>
      <%= link_to "Severity (sev2)", url_for(severity: 2), class: "text-white" %>

      <span><strong>Status</strong></span>
      <%= link_to "Declared", url_for(status: :declared), class: "text-white" %>
      <%= link_to "Resolved", url_for(status: :resolved), class: "text-white" %>
    </div>

    <div class="flex flex-col">
      <%= link_to "Clear sort and filters", url_for, class: "text-white" %>
    </div>
  </div>

  <% if @incidents.empty? %>
    <div>No available Incidents with filter critieria</div>
  <% end %>

  <%= render partial: "incident", collection: @incidents %>

  <div class="flex flex-col items-center p-5 bg-stone-400 text-white rounded">
    <%= pagy_nav(@pagy).html_safe %>
  </div>
<% end %>
